.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 5rem 2rem;
  display: relative;


.historias {
  max-width: 1000px;
  margin: 5rem auto 0;

  
  .hero {
    font-family: Inter;

    &:hover {
      filter: brightness(2);
    }

    .titleSection {
      max-width: 1000px;
      
      p {
        font-size: 2.5rem;
        justify-content: center;
        text-align: center;
        
        & + p {
          padding-top: 2rem;
          padding-bottom: 5rem;
          font-size: 1.5rem;
        }
      }
    }

    .containerHistory {
      margin: 0;
      display: flex;
      justify-content: center;
    }

    .subContainerHistory {
      max-width: 1000px;
      background-color: #282a29; 
      border: 2px solid;
      padding: 30px 100px;
      box-shadow: 0 0 1em green;

      & + .subContainerHistory {
        margin-top: 50px;

      }

      .titleHistory {
        color: #F8F8F8;
        font-size: 28px;
        text-align: justify;
        line-height: 33.89px;
        font-weight: 700;

      }
      
      p {
        padding-top: 15px;
        color: #D7D7D7;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
      }
    }


  }

  .subsection {
    width: 450px;
    height: 20px;
    color: #BBBBBB;
    margin-top: 35px;

    .schedule {
      padding-right: 30px;
      display: inline-block;

      span {
        padding-left: 5px;
      }
    }

    .author {
      display: inline-block;
      span {
        padding-left: 5px;
      }
    }
  }

   button {
      color: var(--highlight);
      margin-top: 4rem;
      font-weight: 600;
      font-size: 1.125;
      line-height: 1.375rem;
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.8);
      }

      .loadMorePosts{
        background-color: red;
        p {
          padding: 15px;
          color: #FF57B2;
          font-family: Inter;
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
  }
}

@media(max-width: 800px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 5rem 2rem;
    display: relative;
  
  
  .historias {
    width: 260px;
    margin: 3.5rem auto 0;
  
    
    .hero {
       font-family: Inter;
  
       .titleSection {
        max-width: 1000px;
        
        p {
          font-size: 1.5rem;
          justify-content: center;
          text-align: center;
          
          & + p {
            padding-top: 2rem;
            padding-bottom: 3.5rem;
            font-size: 1.1rem;
            text-align: justify;
            line-height: 20px;
          }
        }
      }

      .subContainerHistory {
        border: 1px solid;
        padding: 25px 20px;
        box-shadow: 0 0 1em green;
  
        & + .subContainerHistory {
          margin-top: 50px;
  
        }
  
        .titleHistory {
          color: #F8F8F8;
          font-size: 1.1rem;
          text-align: justify;
          line-height: 22px;
          font-weight: 700;
        }
        
        p {
          padding-top: 15px;
          color: #eeeeee;
          text-align: justify;
          font-weight: 400;
          font-size: 0.9rem;
          line-height: 18px;
        }
      }
  
  
    }
  
    .subsection {
      width: 200px;
      height: 20px;
      color: #e6e6e6;
      margin-top: 15px;
      margin-bottom: 15px;
  
      .schedule {
        padding-right: 30px;
        display: inline-block;
  
        span {
          padding-left: 5px;
          font-size: 0.8rem;
        }
      }
  
      .author {
        display: inline-block;
        padding-bottom: 25px;

        span {
          padding-left: 5px;
          font-size: 0.8rem;
        }
      }
    }
  
     button {
        color: var(--highlight);
        margin-top: 4rem;
        font-weight: 600;
        font-size: 1.125;
        line-height: 1.375rem;
        transition: filter 0.2s;
  
        &:hover {
          filter: brightness(0.8);
        }
  
        .loadMorePosts{
          background-color: red;
          p {
            padding: 15px;
            color: #FF57B2;
            font-family: Inter;
            font-size: 20px;
            font-weight: 600;
          }
        }
      }
    }
  }
  
}