.container {
  margin: 0 auto;
  max-width: 100rem;
  padding: 0 2rem;
  margin: 0 5rem;

  background: linear-gradient(180deg, rgba(18,18,20,0.8340317328103116) 6%, rgba(125,248,132,1) 50%, rgba(18,18,20,0.8116227692248774) 94%);

  border-left: aqua;
  border: solid;
  border-radius: 2%;

  @media(max-width:1450px) {
    max-width: 70rem;
  }

  @media(max-width:1000px) {
    margin: 0 2.5rem;
  }

  @media(max-width:500px) {
    margin: 0 2rem;
  }

  > section {
    width: 100%;
    display: flex;
  
    h1 {
      margin-top: 6rem;
      color: #2ddf7a;
      font-size: 5.5rem;
      @media(max-width:999px) {
        margin-top: 3.5rem;
        font-size: 3rem;
      }
      @media(max-width:600px) {
        margin-top: 4rem;
        font-size: 2.2rem;
      }
    }
  }
}

.itemContainer {
  padding: 2.5rem 5rem 0 5rem;
  // height: 30rem;
  display: flex;
  transition: 0.5s;

@media(max-width:1000px) {
  padding: 1.5rem 1rem 0 1rem;
}
@media(max-width:600px) {
  padding: 1.5rem 0rem 0 0rem;
}

  p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.5rem;
    text-align: justify;
    color: black;

    @media(max-width:1000px) {
     
    }
    @media(max-width:600px) {
      font-size: 1.31rem;
      line-height: 1.5rem;
    }
  }

  p:first-child {
    padding-top: 1rem;
    padding-bottom: 0rem;
  }

  p:last-child {
    padding-top: 2rem;
    padding-bottom: 6rem;
  }
}


@media(max-width:1000px) {

}
@media(max-width:600px) {

}