.containerHistory {
  padding-top: 1rem;
  padding-bottom: 6rem;
  width: 100%;
  height: auto;
  background: linear-gradient(180deg, #121214 0%, rgba(51,103,43,1) 60%, rgb(43, 65, 40) 96%);
  
  .contentContainerB {
    max-width: auto;
    margin: 0 auto;
    padding: 0 2rem;
    // height: 1000px;
    // height: calc(100vh - 5rem);
    height: auto;
    align-items: center;
    flex-direction: column;

    .contentText {
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.2rem;

      p:first-child {
        padding-top: 12rem;
      }

      p {
        text-align: center;
        line-height: 1.65rem;
        padding-bottom: 0.2rem;
      }

      p:last-child {
        padding-top: 1rem;
      }
    }

    .containerTopics {
      font-size: 1.2rem;
      height: 100%;
      max-width: 50%;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      justify-content: center;
    }

    .topics {
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      
    }

    .contentTopic {
      width: 300px;
      height: 120px;
      padding-top: 3rem;
    }

    .left {
      align-items: right;
      justify-content: right;
      margin-left: 0;
      margin-right: auto;
      width: 350px;
      
      h1 {
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 900;
        padding-top: 30px;
      }
    
      p {
        font-size: 1rem;
        line-height: 1.25rem;
        margin-top: 1rem;
        text-align: center;
        padding: 0 0.35rem;

        span {
          color: var(--green-700);
          font-weight: bold;
        }
      }
    }
    

    .right {
      align-items: right;
      justify-content: right;
      margin-left: auto;
      margin-right: 0;
      width: 350px;

        h1 {
          text-align: center;
          font-size: 1.5rem;
          line-height: 1.5rem;
          font-weight: 900;
          padding-top: 30px;
        }
      
        p {
          font-size: 1rem;
          line-height: 1.25rem;
          margin-top: 1rem;
          text-align: center;
          padding: 0 0.35rem;

          span {
            color: var(--green-700);
            font-weight: bold;
          }
        }
      }
    }
  }


@media(max-width: 1000px) {
  .containerHistory {
        
    .contentContainerB {
      max-width: auto;
      margin: 0 auto;
      padding: 0 2rem;
      height: auto;
        
      .contentText {
        font-size: 1rem;
        margin: 0 0.5rem;
  
        p:first-child {
          padding-top: 8rem;
        }
  
        p {
          text-align: justify;
          line-height: 1.25rem;
          padding-bottom: 0.5rem;
        }
      }
          
      // Início da Seção dos balões
      .containerTopics {
        font-size: 1.2rem;
        height: 100%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;

        .topics {
          width: 100%;
          align-items: center;
          justify-content: center;
          margin-left: auto;
          margin-right: auto;
          padding-top: 1rem;

          &:first-child {
            padding-top: 2.5rem;
          }
        }
      }

      .contentTopic {
        background-color: rgb(13, 63, 28);
        padding: 3px;
        border: 0.3px solid black;
        border-radius: 50%;
        width: 150px;
        height: 120px;
      }

      .left {
        align-items: right;
        justify-content: right;
        margin-left: 0;
        margin-right: auto;
        width: 150px;

        h1 {
          font-size: 0.8rem;
          line-height: 0rem;
          margin-top: 8px;
          padding-bottom: 0.5rem;
          font-weight: 900;
      } 
      
        p {
          font-size: 0.75rem;
          line-height: 1rem;
          margin-top: 0.5rem;
          padding: 0 15px;
      
          span {
            color: var(--green-700);
            font-weight: bold;
          }
        }
      }
  
      .right {
        background-color: rgb(14, 68, 30);
        width: 150px;
        border-radius: 50%;
        align-items: right;
        justify-content: right;
        margin-left: auto;
        margin-right: 0;

        h1 {
          font-size: 0.8rem;
          line-height: 0rem;
          padding-bottom: 0.5rem;
          font-weight: 900;
      } 
      
        p {
          font-size: 0.75rem;
          line-height: 1rem;
          margin-top: 0.5rem;
          padding: 0 15px;


          span {
            color: var(--green-700);
            font-weight: bold;
          }
        }
      }

    }
  }
}