
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

header{
  width: 100%;
  background-color: #7259c1;

}

header .container {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  height: 60%;
  width: 90%; 
  margin: auto;
}

header img {
  width: 37px;
  margin-right: 0;
  padding: 15px 0;
}
header nav {
  display: flex;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: rgb(241, 239, 239);
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif ;
  font-size: 1.2rem;
  padding: 2.0rem;
  transition: all 250ms linear 0s;
}

header nav ul li a:hover {
  font-size: 1.4rem;
 
}
header nav ul li a{
  position: relative;
  animation-name: menu;
  animation-duration: 1s;
  transition: 100ms;
}

header nav ul li a .FiLogOut{
  position: relative;
  top: 2px;
  left: 2px;
}

@keyframes menu {
  0%   { left:0px; top: -100px;}
  100% { left: 0px; top:0px;}
  
}

@media (max-width: 630px){
  html{
    font-size: 70%;
  }
 .hero .container{
   flex-direction: column;
   text-align: center;
 }

 .form-group{
   display: block;
 }
}

@media (max-width: 1120px){
 
   .menu-section nav{
    display: none;
  }

  .one,
  .two,
  .three{
    background-color:#ffffff;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }
  .menu-toggle{
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }

  /*Fullscreen*/
  .menu-section.on {
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #7259c1;
    z-index: 10; /*camada acima, evitar o scrool dos itens a baixo*/
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-section.on nav{
    display: block;
  }

  
  .menu-section.on .menu-toggle{
    position: absolute;
    right: 25px;
    top: 25px;
  }

  
  .menu-section.on .menu-toggle .one{
    transform: rotate(45deg) translate(7px, 7px);
    background-color: #fff;
  }

  .menu-section.on .menu-toggle .two{
   opacity: 0;

  }

  .menu-section.on .menu-toggle .three{
    transform: rotate(-45deg) translate(8px, -9px);
    background-color: #fff;
  }

  .menu-section.on nav ul{
    text-align: center;
    display: block;
  }

  .menu-section.on nav ul a{ 
   transition-duration:  0.5s;
   font-size: 2.0rem;
    display: block;
    color: #fff;
    padding: 1.8rem;
  }
  
header nav ul li a .FiLogOut{
width: 40px;
}
  .menu-section.on nav ul .hide{ 
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 0rem;
     font-size: 1.6rem;
   }

}

@media (max-width: 320px){
  #form h3{
    font-size: 2rem;
  }

}


.headerContainer {
  height: 5rem;
  border-bottom: 1px solid var(--gray-800);
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: var(--gray-900);
}

.headerContent {
  max-width: 1120px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;

  .logo {
    padding-top: 5px;
    width: 45px;
  }

  h1 {
    padding-left: 10px;
    font-size: 3rem;
  }

  ul {
    padding-left: 10rem;

    li {
    padding-right: 2.5rem;
    }

    a {
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 5rem;
      line-height: 5rem;
      color: var(--gray-300);
      font-size: 1.2rem;
      transition: color 0.2s;

      & + a {
        margin-left: 2rem;
      }

      &:hover {
        color: var(--white);
      }

      &.active {
        color: var(--white);
        font-weight: bold;
      }

      &.active::after {
        content: '';
        height: 3px;
        border-radius: 3px 3px 0 0;
        width: 100%;
        position: absolute;
        bottom: 1px;
        left: 0;
        background: var(--green-500);
      }
    }
  }

  .logoWithLinks {
    
      ul {
          display: flex;
          list-style: none;
      }
      .barMenu {
          display: none;
          cursor: pointer;
      }
  
      @media (min-width:200px) and (max-width:1024px){
          body {
              overflow-x:hidden;
          }

          .navMenu {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            position: fixed;
            top: 0;
            right: 40%;
            transition: 1000ms;
            z-index: 1;

          }
          
          .navMenuActive {
            right: 0%;
          }
          
          .listItems {
            display: flex;
          }

          ul {
              padding: 0;
              flex-direction: column;
              align-items: center;
              position: absolute;
              top: 8.3vh;
              right: 0%;
              width: 40%;
              height: 100vh;
              background-color: black;
              transform: translateX(100%);
              transition: transform 0.3s ease-in;
              opacity: 0.95 ;
          }
          li {
            display: flex;
            // text-align: center;
            // justify-content: center;
            padding-right: 0rem;
            
            a {
              text-align: center;
              display: inline-block;
              position: relative;
              padding: 0rem 1rem;
              height: 5rem;
              line-height: 5rem;
              color: var(--gray-300);
              font-size: 1.2rem;
              transition: color 0.2s;
            }
          }
          
          .barMenu {
              display: block;
              position: absolute;
              right: 10vw;
              bottom: 2vh;
              height: 35px;
          }
      }
  }
}

