.headerContainer {
  height: 5rem;
  border-bottom: 1px solid var(--gray-800);
  position: fixed;
  width: 100%;
}

.headerContent {
  max-width: 1120px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  .logo {
    padding-top: 5px;
    width: 45px;
  }

  h1 {
    padding-left: 10px;
    font-size: 3rem;
  }

  ul {
    padding-left: 10rem;

    li {
    padding-right: 2.5rem;
    }

    a {
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 5rem;
      line-height: 5rem;
      color: var(--gray-300);
      font-size: 1.2rem;

      transition: color 0.2s;

      & + a {
        margin-left: 2rem;
      }

      &:hover {
        color: var(--white);
      }

      &.active {
        color: var(--white);
        font-weight: bold;
      }

      &.active::after {
        content: '';
        height: 3px;
        border-radius: 3px 3px 0 0;
        width: 100%;
        position: absolute;
        bottom: 1px;
        left: 0;
        background: var(--green-500);
      }
    }
  }

  .logoWithLinks {
      
      
      
      ul {
          display: flex;
          list-style: none;
      }
      .barMenu {
          display: none;
          cursor: pointer;
      }
  
      @media (min-width:200px) and (max-width:1024px){
          body {
              overflow-x:hidden;
          }
          ul {
              padding: 0;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-around;
              margin: 0;
              position: absolute;
              top: 8.3vh;
              right: 0%;
              width: 50vw;
              height: 92vh;
              background-color: black;
              transform: translateX(100%);
              transition: transform 0.3s ease-in;
              opacity: 0.9 ;
          }
          li {
              display: flex;
          }
          
          .barMenu {
              display: block;
              position: absolute;
              right:5vw;
              bottom: 2vh;
              height: 35px;
          }
          a {
              text-align: center;
          }
      }
  }
}

