.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 5rem 2rem;
  display: relative;
}

.duvidas {
  max-width: 1000px;
  margin: 3rem auto 0;

  .titleSection {
    max-width: 1000px;
    
    p {
      font-size: 2.5rem;
      justify-content: center;
      text-align: center;
      padding-bottom: 1.2rem;
      
      & + p {
        padding-top: 2rem;
        padding-bottom: 5rem;
        font-size: 1.3rem;
        text-align: justify;
        line-height: 2.3rem;
      }
    }
  }

  .searchEngine {
    padding-bottom: 4rem;
    justify-content: left;
    align-items: center;
    margin: 0;
    display: flex;

    p {
      color: #CDC8B1;
      font-size: 1.2rem;
      text-align: justify;
      padding-right: 0.8rem;
    }

    input {
      width: 400px;
      height: 50px;
      padding-left: 10px;
      font-size: 1.2rem;

      &:hover, &:focus, &:focus {
        border: 2px solid green !important;
       }

    }  
        
  }

  .containerDuvidas {
    margin: 0;
    justify-content: center;
  }

  section {
    display: block;
    border: 1px solid;
    padding: 25px 20px;
    padding-bottom: 35px;
    margin-bottom: 50px;
    box-shadow: 0.3em 0.3em 1em green;
    background-color: #282a29; 
    border-radius: 1.5rem;

    & + section {
      margin-top: 2rem;
      padding-top: 2rem;
      
    }

    time {
      font-size: 1rem;
      display: flex;
      align-items: center;
      color: var(--gray-300 );
    }

    strong {
      display: block;
      font-size: 1.5rem;
      margin-top: 1rem;
      line-height: 2rem;
      transition: color 0.2s;
      cursor: pointer;
    }

    p {
      color: #CDC8B1;
      margin-top: 1.5rem;
      line-height: 1.625rem;
      font-size: 1.2rem;
      text-align: justify;
    }

    &:hover strong {
      color: var(--green-500);
    }
  }
}

@media(max-width: 800px) {
  .container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 5rem 2rem;
    display: relative;
  }
  
  .duvidas {
    max-width: 1000px;
    margin: 3.5rem auto 0;
  
    .searchEngine {
      padding-bottom: 3rem;
      flex-direction: column;
      align-items: center;
      margin: 0;
      display: flex;
  
      p {
        color: #CDC8B1;
        font-size: 1.2rem;
        padding-bottom: 10px;
        text-align: left;
        padding-right: 0rem;
      }
  
      input {
        width: 250px;
        height: 40px;
        padding-left: 10px;
        font-size: 1rem;
  
        &:hover, &:focus, &:focus {
          border: 2px solid green !important;
         }
  
      }  
          
    }

    .titleSection {
      max-width: 1000px;
      
      p {
        color: #e9f3e2;
        font-size: 1.5rem;
        justify-content: center;
        text-align: center;
        
        & + p {
          color: #cddac4;
          padding-top: 2rem;
          padding-bottom: 5rem;
          font-size: 1rem;
          text-align: justify;
          line-height: 1.45rem;
        }
      }
    }
  
    .containerHistory {
      margin: 0;
      display: flex;
      justify-content: center;
    }
  
    section {
      display: block;
  
      & + section {
        margin-top: 2rem;
        padding-top: 2rem;
      }
  
      time {
        font-size: 1rem;
        display: flex;
        align-items: center;
        color: var(--gray-300 );
      }
  
      strong {
        display: block;
        font-size: 1.1rem;
        margin-top: 1rem;
        line-height: 1.5rem;
        transition: color 0.2s;
        cursor: pointer;
      }
  
      p {
        color: #f6f1d9;
        margin-top: 1.5rem;
        line-height: 1.25rem;
        font-size: 1rem;
        text-align: justify;
      }
  
      &:hover strong {
        color: var(--green-500);
      }
    }
  }
  
}